[submodule "scripts"]
	path = scripts
	url = https://github.com/Open-Systems-Pharmacology/build-scripts.git
[submodule "dimensions"]
	path = dimensions
	url = https://github.com/Open-Systems-Pharmacology/OSPSuite.Dimensions.git
[submodule "pkparameters"]
	path = pkparameters
	url = https://github.com/Open-Systems-Pharmacology/OSPSuite.PKParameters.git
[submodule "documentation"]
	path = documentation
	url = https://github.com/Open-Systems-Pharmacology/OSPSuite.Documentation.git
[submodule "examples/Theophylline"]
	path = examples/Theophylline
	url = https://github.com/Open-Systems-Pharmacology/Example_Theophylline.git
[submodule "examples/Paracetamol"]
	path = examples/Paracetamol
	url = https://github.com/Open-Systems-Pharmacology/Example_Paracetamol.git
[submodule "examples/Aciclovir"]
	path = examples/Aciclovir
	url = https://github.com/Open-Systems-Pharmacology/Example_Aciclovir.git
[submodule "examples/Caffeine"]
	path = examples/Caffeine
	url = https://github.com/Open-Systems-Pharmacology/Example_Caffeine.git
