<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="csmpfit" version="1.1.0" targetFramework="net452" />
  <package id="FakeItEasy" version="2.3.3" targetFramework="net452" />
  <package id="MathNet.Numerics" version="3.17.0" targetFramework="net452" />
  <package id="Northwoods.GoWin" version="5.2.0" targetFramework="net452" />
  <package id="NUnit" version="3.5.0" targetFramework="net452" />
  <package id="OSPSuite.Assets" version="7.1.0.60" targetFramework="net452" />
  <package id="OSPSuite.BDDHelper" version="2.0.0.1" targetFramework="net452" />
  <package id="OSPSuite.Core" version="7.1.0.60" targetFramework="net452" />
  <package id="OSPSuite.DataBinding" version="2.0.0.1" targetFramework="net452" />
  <package id="OSPSuite.DataBinding.DevExpress" version="2.0.0.1" targetFramework="net452" />
  <package id="OSPSuite.DevExpress" version="16.2.4" targetFramework="net452" />
  <package id="OSPSuite.DevExpress.Presentation" version="16.2.4" targetFramework="net452" />
  <package id="OSPSuite.FuncParser" version="2.0.0.1" targetFramework="net452" />
  <package id="OSPSuite.Presentation" version="7.1.0.60" targetFramework="net452" />
  <package id="OSPSuite.Serializer" version="2.0.0.1" targetFramework="net452" />
  <package id="OSPSuite.SimModel" version="2.0.0.1" targetFramework="net452" />
  <package id="OSPSuite.SmartXLS" version="2.6.2.90" targetFramework="net452" />
  <package id="OSPSuite.TeXReporting" version="2.0.0.1" targetFramework="net452" />
  <package id="OSPSuite.UI" version="7.1.0.60" targetFramework="net452" />
  <package id="OSPSuite.Utility" version="2.0.0.1" targetFramework="net452" />
  <package id="WindowsAPICodePack-Core" version="1.1.2" targetFramework="net452" />
  <package id="WindowsAPICodePack-Shell" version="1.1.1" targetFramework="net452" />
</packages>