<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="csmpfit" version="1.1.1" targetFramework="net462" />
  <package id="MathNet.Numerics" version="4.8.1" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="2.2.0" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net462" />
  <package id="OSPSuite.Assets" version="9.0.13" targetFramework="net472" />
  <package id="OSPSuite.Core" version="9.0.13" targetFramework="net472" />
  <package id="OSPSuite.FuncParser" version="4.0.0.42" targetFramework="net472" />
  <package id="OSPSuite.Serializer" version="3.0.0.1" targetFramework="net472" />
  <package id="OSPSuite.SimModel" version="4.0.0.29" targetFramework="net472" />
  <package id="OSPSuite.SmartXLS" version="2.7.2.3" targetFramework="net472" />
  <package id="OSPSuite.Utility" version="4.0.0.1" targetFramework="net472" />
</packages>