<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.Data.v17.1" publicKeyToken="b88d1754d700e49a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-17.1.5.0" newVersion="17.1.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.Utils.v17.1" publicKeyToken="b88d1754d700e49a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-17.1.5.0" newVersion="17.1.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.XtraEditors.v17.1" publicKeyToken="b88d1754d700e49a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-16.2.4.0" newVersion="16.2.4.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SX" publicKeyToken="882b9c044052e7f6" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.5.7" newVersion="2.6.5.7" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/></startup></configuration>
